node_modules
.DS_Store
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
package-lock.json
yarn.lock
yarn-error.log
tempDir
coverage/

build
.eslintcache
databases
.tmp/
node_modules
.vscode-test/

*.vsix
*.temp.js
