.scaffoldType {
  display: flex;
  flex-wrap: wrap;
}

.scaffoldTypeTitle {
  position: relative;
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: #A6A5AA;
  font-weight: 600;
}

.scaffoldTypeItem {
  margin: 10px 10px 10px 0;
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100px;
  height: 30px;
  border: 1px solid #2B2B30;
  cursor: pointer;
}

.scaffoldTypeItem:hover, .selectedScaffoldTypeItem {
  border: 1px solid #3790FF !important;
}

.scaffoldTypeItem:hover .scaffoldTypeItemDescription, .selectedScaffoldTypeItem .selectedScaffoldTypeTag {
  display: block;
}

.selectedScaffoldTypeTag {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 14px;
  height: 14px;
}

.scaffoldTypeItemName {
  font-size: 14px;
  color: #A6A5AA;
}

.scaffoldTypeItemDescription {
  display: none;
  z-index: 99;
  position: absolute;
  bottom: 30px;
  left: -72px;
  width: 262px;
  border: 1px solid #2B2B30;
  background-color: #1e1e1e;
  color: #979797;
  font-size: 12px;
  padding: 5px;
}