.server {
  display: flex;
  flex-wrap: wrap;
}

.serverTitle {
  position: relative;
  width: 100%;
  height: 20px;
  font-size: 14px;
  color: #A6A5AA;
  font-weight: 600;
}

.serverSelectedItemTag {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
}

.serverSelectedItem .serverSelectedItemTag {
  display: block;
}

.serverItem {
  margin: 10px 5px 10px 0;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.serverItem:hover {
  background-color: #333238;
}

.serverItem:hover .serverItemDescription {
  display: block;
}

.serverItemIcon {
  width: 36px;
  height: 36px;
}

.serverItemTitle {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  color: #979797;
  user-select: none;
}

.serverItemDescription {
  display: none;
  position: absolute;
  bottom: 82px;
  left: -60px;
  width: 202px;
  border: 1px solid #2B2B30;
  background-color: #1e1e1e;
  color: #979797;
  font-size: 12px;
  padding: 5px;
}

.extraInfo {
  position: relative;
  width: 100%;
}

.extraTitle {
  color: #bfbfbf;
  font-size: 14px;
}

.extraItemLabel {
  margin-top: 15px;
  position: relative;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: rgba(191, 191, 191, 0.85);
}

.extraItemInput {
  position: relative;
  width: 430px;
  height: 32px;
  color: rgba(191, 191, 191, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: rgb(28, 28, 33);
  padding: 4px 11px;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 2px;
}